@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Men's Wear Store!</h1>
</div>
<form action="/Form" method="get">
    <label for="id">Enter Book ID:</label>
    <input id="id" type="number" name="id" value="" required />

    <label for="name">Enter Book Name:</label>
    <input id="name" type="text" name="name" value="" required />

    <label for="image">Enter Book URL:</label>
    <input id="image" type="text" name="image" value="" required />

    <input type="submit" name="submit" value="Submit" />
</form>