@page
@model Men_Collection.Pages.StoreModel
@{
    ViewData["Title"] = "Store";
}
<div class="text-center">
    <h1 class="display-4">Products</h1>
</div>
<div class="row">
    @foreach (var book in Model.Products)
    {
        <div class="col-lg-4 text-center">
            <div class="card border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="@book.image" alt="@book.name" height="200px" width="300px">
                </div>
            </div>
            <h6>@book.name</h6>
            <p>$@book.price</p>
        </div>
    }
    </div>